graft pgit/ext

graft pgit/bin
graft doc/source/*
prune doc/source/generated

include AUTHORS
include README.rst

prune pgit/test

# strip down the externals, especially mrv which is only used as a framework
prune pgit/ext/git

prune pgit/ext/mrv/test
prune pgit/ext/mrv/maya
prune pgit/ext/mrv/doc
prune pgit/ext/mrv/ext
prune pgit/ext/mrv/automation
exclude pgit/ext/mrv/batch.py
exclude pgit/ext/mrv/mdp.py
exclude pgit/ext/mrv/mdepparse.py
exclude pgit/ext/mrv/dgfe.py
exclude pgit/ext/mrv/dge.py


global-exclude .git*
global-exclude *.pyc

