graft pgit/ext

graft pgit/bin
prune doc

include AUTHORS
include README.rst

prune pgit/test

# strip down the externals, especially mrv which is only used as a framework
prune pgit/ext/gitpython


prune pgit/ext/mrv/doc
exclude pgit/ext/mrv/setup.py
exclude pgit/ext/mrv/pylint.rc
exclude pgit/ext/mrv/makefile
exclude pgit/ext/mrv/MANIFEST.in
exclude  pgit/ext/mrv/mrv/conf.py
prune pgit/ext/mrv/mrv/test
prune pgit/ext/mrv/mrv/maya
prune pgit/ext/mrv/mrv/ext
prune pgit/ext/mrv/mrv/automation
exclude pgit/ext/mrv/mrv/batch.py
exclude pgit/ext/mrv/mrv/mdp.py
exclude pgit/ext/mrv/mrv/mdepparse.py
exclude pgit/ext/mrv/mrv/dgfe.py
exclude pgit/ext/mrv/mrv/dge.py


global-exclude .git*
global-exclude *.pyc

